body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E9EED9;
}

.sketchPad {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    height: 600px;
    width: 600px;
    flex-shrink: 0;
    flex-grow: 0;
    border: solid black 1px;
}

.pad {
    display: flex;
    flex: 1;
}

.newpad {
    background-color: #CBD2A4;
    flex: 1;
    border: solid black 0.1px;
}

.touched {
    background-color: #9A7E6F;
}

#size {
    padding: 10px 40px;
    margin-top: 16px;
    font-size: large;
    padding: 10px 40px;
    margin-top: 16px;
    font-size: large;
    border-radius: 8px;
    background-color: #CBD2A4;
}